<div class='project'>
  <h3><%= project.name %></h3>
  <%= project.description %>
  <div class='actions'>
    <div class="button-group expanded">
      <%= link_to 'Explore', project.link, class: "success button"%>
      <%= link_to '<i class="fa fa-code" aria-hidden="true"></i> Source code <i class="fa fa-code" aria-hidden="true"></i>'.html_safe, project.source_code, class: "button" %>
    </div>
  </div>
</div>
