<% content_for :sidebar_left do %>
  <ul class="menu vertical">
    <li><%= link_to 'Home', root_path %></li>
    <li class='active'><%= link_to 'Photos', photos_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>
  </ul>
<% end %>
