<%= render partial: 'layouts/sidebar', locals: {photos_active: true} %>

<% cache(cache_key_for_photos) do %>
  <% @photos.reverse.each do |photo| %>
    <div class="photo front">
      <%= link_to (image_tag(photo.image.front.url)), photo %>
    </div>
  <% end %>
<% end %>
