<%= render 'sidebar' %>

<p id="notice"><%= notice %></p>
<div id="Photos" class="container">
  <% cache(cache_key_for_photos) do %>
    <% @photos.reverse.each do |photo| %>
      <div class="photo front <%= "has-description" if photo.description && photo.description.size > 0 %>">
        <%= link_to (image_tag(photo.image.front.url)), photo %>
      </div>
    <% end %>
  <% end %>
</div>


