// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo {
    margin:           auto;
    box-shadow:       0 1px 2px rgba(0,0,0,.2);
    border-radius:    3px;
    background-color: #fff;
    margin-bottom:    30px;
    padding:          10px;
}

.front {
  width: 400px;
}

.has-description img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.has-description img:hover {
  -webkit-filter: brightness(50%) blur(5px);
}

.has-description .hover-text {
  padding:    10px;
  position:   relative;
  bottom:     30px;
  left:       0px;
  display:    none;
  visibility: hidden;
  color:      white;
}

.has-description:hover .hover-text {
  visibility: visible;
}

.metadata {
  display: block;
  margin-top: 10px;
}
