// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
    width: 100%;
    display: flex;

    .information {
      width:    50%;
      padding:  10px;
      display: flex;
      flex-direction: column;
      align-content: space-between;
    }
    .project-image {
      width:    50%;
    }
    .description {
      height: 100%;
    }
    .actions {
      margin-top: 30px;
      margin-bottom: 0px;

      .button-group {
        margin-bottom: 0px;
      }
    }
    .left {
      order: 1;
    }
    .right {
      order: 2;
    }
    .admin {
      order: 4;
      align-self: flex-end;
    }
}

a:visited.button {
  color: #fff;
}
