// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
    margin-left:      auto;
    margin-right:     auto;
    box-shadow:       0 1px 2px rgba(0,0,0,.2);
    border-radius:    3px;
    background-color: #fff;
    margin-bottom:    30px;
    padding:          10px;
    width:            400px;
}

.project .actions {
  margin-top: 30px;
  position: relative;
  margin-bottom: 0px;
}
.actions .button-group {
  margin-bottom: 0px;
}

a:visited.button {
  color: #fff;
}
